<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Is it: {{ computer_number }}?</p>

    <form method="post">
        <input type="hidden" name="min_number" value="{{ min_number }}">
        <input type="hidden" name="max_number" value="{{ max_number }}">
        <button type="submit" name="your_answer" value="too big">Too Big</button>
        <button type="submit" name="your_answer" value="too small">Too Small</button>
        <button type="submit" name="your_answer" value="you win">You Win</button>
    </form>
</body>
</html>